#Ignore database instance
/instance/flaskr.sqlite

#Ignore everything in myImgs except README
/flaskr/static/myImgs/*
!/flaskr/static/myImgs/README.txt

#Exclude pycache
/flaskr/__pycache__/*

#Exclude google-cloud-sdk
/google-cloud-sdk

#Exclud config file
/flaskr/config.py