{% extends 'head.html' %}

{% block header %}
  <h2>{% block title %}Take a Picture{% endblock %}</h2>
{% endblock %}

{% block content %}
<article class="post">
 <div class="container">
  <div class="row">
   <div id="captureArea" class="col-lg-8 col-md-10 mx-auto" style="position: relative; display: flex; flex-direction: column;">

  <div id="parent" style="position:relative; align-items: center; justify-content: center; margin: auto; height:700px;">
    <video class="children" style="position: absolute; top: 0; left: 0; transform: translateX(-50%); z-index: -1;" id="vid" autoplay playsinline></video>
    {% if post != 1 %}
      <img class="children" style="opacity: 0.4; position: absolute; top: 0; left: 0; transform: translateX(-50%); z-index: 2147483647;" id="overlay" src="/static/myImgs/{{ post[0] }}/{{ post[6] }}" alt="Cover Image" width="{{ post[7] }}" height="{{ post[8] }}">
    {% else %}
      <img class="children" style="display:none;" id="overlay" src="/static/imgs/{{ post[0] }}/default.png" alt="Cover Image" width="200" height="200">
    {% endif %}
  </div>

  {% if post != 1 %}
    <input type="hidden" id="IDPath" name="IDPath" value="{{ url_for('blog.capture', id=post[0]) }}">
    <input type="hidden" id="redirect" name="redirect" value="{{ post[0] }}">
  {% else %}
    <input type="hidden" id="IDPath" name="IDPath" value="{{ url_for('blog.capture', id=1) }}">
    <input type="hidden" id="redirect" name="redirect" value="1">
  {% endif %}

  <div>
    <div id="toggleScreen" style="text-align:center;"><button id="toggle" class="btn btn-outline-primary">Toggle Fullscreen</button></div>
    <div id="take" style="text-align:center;"><button id="takePic" class="btn btn-primary btn-lg">Take Picture</button></div>
    <div id="retake" style="text-align:center; display:none;"><button id="retakePic" class="btn btn-outline-primary">Retake Picture</button></div>
    <div id="flip" style="text-align:center;"><button id="flipCam" class="btn btn-outline-primary">Change Camera</button></div>
    <div id="uploadPic" style="text-align:center; display:none;">
      <input type="text" placeholder="Picture Title" id="picName">
      <button id="upload" class="btn btn-outline-primary">Upload Picture</button>
    </div>
  </div>

    </div>
   </div>
 </div>

</article>
    <!--<iframe src="http://jacobpritchard9.pythonanywhere.com/1/capture" allow="camera">-->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
    <script>
      //Flip camera
      let flipBtn = document.querySelector('#flipCam');

      //Initialize stream variables
      var oStyle = ""; // new style after picture taken
      var ogStyle = ""; // original style
      var ogSrc = document.getElementById("overlay").src; // original source
      var ogWidth = document.getElementById("overlay").width;
      var ogHeight = document.getElementById("overlay").height;
      let _stream = null;
      let shouldFaceUser = true;
      let defaults = { audio: false, video: true };

      function toggleFullScreen() {
        if (!document.fullscreenElement) {
          var elem = document.getElementById("captureArea");

          if (elem.requestFullscreen) {
            elem.requestFullscreen();
          } else if (elem.mozRequestFullScreen) {
            elem.mozRequestFullScreen();
          } else if (elem.webkitRequestFullscreen) {
            elem.webkitRequestFullscreen();
          } else if (elem.msRequestFullscreen) {
            elem.msRequestFullscreen();
          }

          document.getElementById("vid").style = "position: fixed; right: 0; bottom: 0; width: 100%; height: 100%; z-index: -1;";
          document.getElementById("overlay").style = "position: fixed; right: 0; bottom: 0; width: 100%; height: 100%; object-fit: contain; opacity: 0.4; z-index:-1;";
          document.getElementById("flip").style.display = "none";
        } else {
          if (document.exitFullscreen) {
            document.exitFullscreen();
          }
          document.getElementById("vid").style = "position: absolute; top: 0; left: 0; transform: translateX(-50%); z-index: -1;";
          document.getElementById("overlay").style = "opacity: 0.4; position: absolute; top: 0; left: 0; transform: translateX(-50%); z-index: 2147483647;";
          document.getElementById("flip").style.display = "block";
        }
      }

      document.getElementById("toggle").onclick = function(){
          toggleFullScreen();
      }

      function capture(){
          defaults.video = { facingMode: shouldFaceUser ? 'user' : 'environment' }
          //Access media devices and capture image
          navigator.mediaDevices.getUserMedia(defaults)
          .then(function(stream){
            _stream = stream;
            //Set dimensions
            vid.onloadedmetadata = function() {
              //Acquire dimensions
              this.width = this.videoWidth;
              this.height = this.videoHeight;

              //Adjust dimensions and center overlay on top of videostream
              var parent = document.getElementById('parent');
              var v = document.getElementById('vid');
              var o = document.getElementById('overlay');
              var pheight = parent.clientHeight;
              var vtrans = pheight * 50/100 - this.height/2;
              var otrans = pheight * 50/100 - o.height/2;
              v.style.transform = "translate(-50%, " + String(vtrans) + "px)";
              o.style.transform = "translate(-50%, " + String(otrans) + "px)";

              // saved original style after transformation
              ogStyle = "opacity: 0.4; position: absolute; top: 0; left: 0; transform: translate(-50%, " + String(vtrans) + "px); z-index: 2147483647;";

              // Save style to be updated later with overlay
              oStyle = "opacity: 1; position: absolute; top: 0; left: 0; transform: translate(-50%, " + String(vtrans) + "px); z-index: 2147483647;";
            }
            window.stream = stream;
            vid.srcObject = stream;

            document.getElementById("takePic").onclick = function() {
              //show upload button and hide take button
              document.getElementById("uploadPic").style.display = "block";
              document.getElementById("retake").style.display = "block";
              document.getElementById("take").style.display = "none";
              document.getElementById("flip").style.display = "none";

              //Create canvas and take picture
              var c = document.createElement('canvas');
              c.width = vid.videoWidth;
              c.height = vid.videoHeight;
              c.getContext('2d').drawImage(vid, 0, 0);
              c.toBlob(capturedImage, 'image/png');

              // Exit fullscreen
              if(document.fullscreenElement){
                toggleFullScreen();
              }
              document.getElementById("toggleScreen").style.display = "none";
              document.getElementById("flip").style.display = "none";
            };
          })
          .catch(function(err){
            // Handle the error
            console.error(err);
          });
      }

      // Toggle camera view
      flipBtn.addEventListener('click', function(){
          if( _stream == null ) return
          // we need to flip, stop everything
          stream.getTracks().forEach(t => {
            t.stop();
          });
          // toggle / flip
          shouldFaceUser = !shouldFaceUser;
          capture();
        })

      // enable video stream + overlay.
      capture();

      function capturedImage(blob){
        // creates DOMString containing a URL representing the object
        var url = URL.createObjectURL(blob);

        //Change overlay image
        overlay.src = url;
        overlay.style = oStyle;
        overlay.width = vid.videoWidth;
        overlay.height = vid.videoHeight;

        //Save dimensions of video
        var width = vid.videoWidth;
        var height = vid.videoHeight;

        document.getElementById("retake").onclick = function() {
          // Reset UI
          document.getElementById("uploadPic").style.display = "none";
          document.getElementById("retake").style.display = "none";
          document.getElementById("toggleScreen").style.display = "block";
          document.getElementById("take").style.display = "block";
          document.getElementById("flip").style.display = "block";
          overlay.src = ogSrc;
          overlay.style = ogStyle;
          overlay.style.opacity = "0.4";
          overlay.width = ogWidth;
          overlay.height = ogHeight;

          if(document.getElementById('redirect').value == 1){
              overlay.style.display = "none";
          }
        };

        //Listener for uploading file
        document.getElementById("upload").onclick = function() {
          var picName = document.getElementById('picName').value;
          var d = new Date();
          var currDate = ("0" + d.getDate()).slice(-2) + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + d.getFullYear() + "_" + ("0" + d.getHours()).slice(-2) + "-" + ("0" + d.getMinutes()).slice(-2) + "-" + ("0" + d.getSeconds()).slice(-2) + ".png";
          var fdata = new FormData();
          //fdata.append('file', blob, document.getElementById('picName').value.concat('.png'));
          fdata.append('file', blob, currDate);
          fdata.append('width', width);
          fdata.append('height', height);
          fdata.append('name', picName);

          $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: document.getElementById("IDPath").value,
            data: fdata,
            processData: false,
            contentType: false,
            cache: false,
            success: function(postID){
              if (document.getElementById('redirect').value != 1){
                {% if g.user[0] is defined %}
                    {% if g.user[0] != post[4] %}
                        window.location.href = "https://jacobpritchard9.pythonanywhere.com/" + postID + "/detail";
                    {% else %}
                        window.location.href = "https://jacobpritchard9.pythonanywhere.com/" + postID + "/update";
                    {% endif %}
                {% else %}
                    window.location.href = "https://jacobpritchard9.pythonanywhere.com/" + document.getElementById('redirect').value + "/detail";
                {% endif %}
              }else{
                window.location.href = "https://jacobpritchard9.pythonanywhere.com/" + postID + "/create";
              }
            }
          });

          //Remove video stream
          URL.revokeObjectURL(vid.src);
          vid.parentNode.removeChild(vid);
        };
      }
    </script>
    <!--</iframe>-->
{% endblock %}