{% extends 'head.html' %}

{% block header %}
  <h2>{% block title %}Take a Picture{% endblock %}</h2>
{% endblock %}

{% block content %}
    <body style="background-color:black;">
        <div id="loading" class="d-none">
            <div class="d-flex justify-content-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
        </div>


        <div id="captureArea" class="col-lg-8 col-md-10 mx-auto d-block">
            <div id="parent" style="position:relative;">
                <video class="children img-fluid" style="display: block; width: 100%; max-height: 100%; height: auto;" id="vid" autoplay playsinline></video>
                {% if post != 1 %}
                    <img class="children" style="opacity: 0.4; position: absolute; width: 100%; height: 100%; top: 0; left: 0;" id="overlay" src="/static/myImgs/{{ post[0] }}/{{ post[6] }}" alt="Cover Image" width="{{ post[7] }}" height="{{ post[8] }}">
                {% else %}
                    <img class="children" style="display:none;" id="overlay" src="/static/imgs/{{ post[0] }}/default.png" alt="Cover Image" width="200" height="200">
                {% endif %}
                <div id="take" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0;">
                    <button id="takePic" class="btn btn-primary btn-lg" style="position: absolute; bottom: 0; right: 50%; transform: translate(50%, -100%);">Take Picture</button>
                </div>
            </div>

            {% if post != 1 %}
                <input type="hidden" id="IDPath" name="IDPath" value="{{ url_for('blog.capture', id=post[0]) }}">
                <input type="hidden" id="redirect" name="redirect" value="{{ post[0] }}">
            {% else %}
                <input type="hidden" id="IDPath" name="IDPath" value="{{ url_for('blog.capture', id=1) }}">
                <input type="hidden" id="redirect" name="redirect" value="1">
            {% endif %}

            <div id="retake" style="text-align:center; display:none;"><button id="retakePic" class="btn btn-outline-primary">Retake Picture</button></div>
            <div id="flip" style="text-align:center;"><button id="flipCam" class="btn btn-outline-primary">Change Camera</button></div>
            <div id="uploadPic" style="text-align:center; display:none;">
                <input type="text" placeholder="Picture Title" id="picName">
                <button id="upload" class="btn btn-outline-primary">Upload Picture</button>
            </div>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
        <script>
          //Flip camera
          let flipBtn = document.querySelector('#flipCam');

          //Initialize stream variables
          var oStyle = ""; // new style after picture taken
          var ogStyle = ""; // original style
          var ogSrc = document.getElementById("overlay").src; // original source
          var ogWidth = document.getElementById("overlay").width;
          var ogHeight = document.getElementById("overlay").height;
          let _stream = null;
          let shouldFaceUser = true;
          let defaults = { audio: false, video: true };

          function capture(){
              defaults.video = { facingMode: shouldFaceUser ? 'user' : 'environment' }
              //Access media devices and capture image
              navigator.mediaDevices.getUserMedia(defaults)
              .then(function(stream){
                _stream = stream;
                //Set dimensions
                vid.onloadedmetadata = function() {
                  //Acquire dimensions
                  this.width = this.videoWidth;
                  this.height = this.videoHeight;

                  ogStyle = "opacity: 0.4; position: absolute; width: 100%; height: 100%; top: 0; left: 0;";
                  oStyle = "opacity: 1; position: absolute; width: 100%; height: 100%; top: 0; left: 0;";
                }
                window.stream = stream;
                vid.srcObject = stream;

                document.getElementById("takePic").onclick = function() {
                  //show upload button and hide take button
                  document.getElementById("uploadPic").style.display = "block";
                  document.getElementById("retake").style.display = "block";
                  document.getElementById("take").style.display = "none";
                  document.getElementById("flip").style.display = "none";

                  //Create canvas and take picture
                  var c = document.createElement('canvas');
                  c.width = vid.videoWidth;
                  c.height = vid.videoHeight;
                  c.getContext('2d').drawImage(vid, 0, 0);
                  c.toBlob(capturedImage, 'image/png');

                  document.getElementById("flip").style.display = "none";
                };
              })
              .catch(function(err){
                // Handle the error
                console.error(err);
              });
          }

          // Toggle camera view
          flipBtn.addEventListener('click', function(){
              if( _stream == null ) return
              // we need to flip, stop everything
              stream.getTracks().forEach(t => {
                t.stop();
              });
              // toggle / flip
              shouldFaceUser = !shouldFaceUser;
              capture();
            })

          // enable video stream + overlay.
          capture();

          function capturedImage(blob){
            // creates DOMString containing a URL representing the object
            var url = URL.createObjectURL(blob);

            //Change overlay image
            overlay.src = url;
            overlay.style = oStyle;
            overlay.width = vid.videoWidth;
            overlay.height = vid.videoHeight;

            //Save dimensions of video
            var width = vid.videoWidth;
            var height = vid.videoHeight;

            document.getElementById("retake").onclick = function() {
              // Reset UI
              document.getElementById("uploadPic").style.display = "none";
              document.getElementById("retake").style.display = "none";
              document.getElementById("take").style.display = "block";
              document.getElementById("flip").style.display = "block";
              overlay.src = ogSrc;
              overlay.style = ogStyle;
              overlay.style.opacity = "0.4";
              overlay.width = ogWidth;
              overlay.height = ogHeight;

              if(document.getElementById('redirect').value == 1){
                  overlay.style.display = "none";
              }
            };

            //Listener for uploading file
            document.getElementById("upload").onclick = function() {

              document.getElementById("captureArea").className = "d-none";
              document.getElementById("loading").className = "d-block";


              var picName = document.getElementById('picName').value;
              var d = new Date();
              var currDate = ("0" + d.getDate()).slice(-2) + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" + d.getFullYear() + "_" + ("0" + d.getHours()).slice(-2) + "-" + ("0" + d.getMinutes()).slice(-2) + "-" + ("0" + d.getSeconds()).slice(-2) + ".png";
              var fdata = new FormData();

              fdata.append('file', blob, currDate);
              fdata.append('width', width);
              fdata.append('height', height);
              fdata.append('name', picName);

              $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: document.getElementById("IDPath").value,
                data: fdata,
                processData: false,
                contentType: false,
                cache: false,
                success: function(postID){
                  if (document.getElementById('redirect').value != 1){
                    {% if g.user[0] is defined %}
                        {% if g.user[0] != post[4] %}
                            window.location.href = "https://rameme.pythonanywhere.com/" + postID + "/detail";
                        {% else %}
                            window.location.href = "https://rameme.pythonanywhere.com/" + postID + "/update";
                        {% endif %}
                    {% else %}
                        window.location.href = "https://rameme.pythonanywhere.com/" + document.getElementById('redirect').value + "/detail";
                    {% endif %}
                  }else{
                    window.location.href = "https://rameme.pythonanywhere.com/" + postID + "/create";
                  }
                }
              });

              //Remove video stream
              URL.revokeObjectURL(vid.src);
              vid.parentNode.removeChild(vid);
            };
          }
        </script>
    </body>
{% endblock %}