{% extends 'head.html' %}

{% block header %}
  <h2>{% block title %}New Post{% endblock %}</h2>
{% endblock %}

{% block content %}
<article class="post">
    <body style="background-color:black;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card text-white bg-gray mb-4">
                        <div class="card-body">
                            <form method="post" enctype=multipart/form-data>
                                <label for="title">Title</label>
                                <br/>
                                <input class="form-control" name="title" id="title" value="{{ request.form['title'] }}" required>
                                <br/>
                                <label for="body"> Project Description </label>
                                <br/>
                                <textarea class="form-control" rows="3" name="body" id="body">{{ request.form['body'] }}</textarea>
                                <hr>

                                <img id="myPic" style="display:block; margin:0 auto; max-width:100%; max-height:100%;" class="img-fluid" src="/static/myImgs/{{ post [3] }}/{{ post[0] }}" alt="Cover Image" width="{{ post[1] }}" height="{{ post[2] }}">
                                <input type="hidden" name="lat" id="lat" value="none">
                                <input type="hidden" name="lng" id="lng" value="none">
                                <input type="hidden" name="width" id="width" value="{{ post[1] }}">
                                <input type="hidden" name="height" id="height" value="{{ post[2] }}">
                                <input type="hidden" name="filename" id="filename" value="{{ post[0] }}">

                                <input class="btn btn-success btn-lg btn-block mt-4" style="float: right;" type="submit" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</article>

<script type="text/javascript">
    var latitude = document.getElementById("lat");
    var longitude = document.getElementById("lng");

    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition);
    } else {
      x.innerHTML = "Geolocation is not supported by this browser.";
    }

    function showPosition(position) {
      latitude.value = position.coords.latitude;
      longitude.value = position.coords.longitude;
    }
</script>
{% endblock %}