{% extends 'head.html' %}

{% block content %}
<article>
    <body style="background-color:black;">
        <!-- what is rePhoto -->
        <div class="container-fluid mx-auto">
            <div class="container-stack container-fluid">
              <div class="row">
                <div class="col"></div>
                <div class="col-10">
                  <div class="container-box">
                    <p class="h1 text-white"> What is rePhoto? </p>
                    <p class="text-white"> rePhoto allows you to take pictures that aligns exactly with a previous photo.</p>
                    <p class="text-white"> rePhoto is a website that makes this easier, so you (or a group!) can align and take many pictures of a place or an object. These pictures are a visual record of change -- pictures of trees or streams or beaches over time are useful to measure the effects of erosion and climate change; pictures of home improvement projects (or even yourself) can serve as a visual timeline of events.</p>
                  </div>
                </div>
                <div class="col"></div>
              </div>
            </div>
        </div>

        <!-- what is the purpose -->
        <div class="container-fluid mx-auto">
            <div class="container-stack container-fluid">
              <div class="row">
                <div class="col"></div>
                <div class="col-10">
                  <div class="container-box">
                    <p class="h1 text-white"> What is the purpose of rePhoto? </p>
                    <p class="text-white"> The core utility of Project rePhoto stems from its identity as a citizen science project which allows for a comprehensive visual timeline of change for each project’s subject, granting researchers more time to spend on analytical work while citizens not directly involved with the research can provide samples as they come across a project’s subject.</p>
                  </div>
                </div>
                <div class="col"></div>
              </div>
            </div>
        </div>

        <!-- contribute -->
        <div class="container-fluid container-sm">
            <div class="col fixed-bottom row justify-content-center bg-black mx-auto">
              <button type="button" class="btn btn-dark text-white btn-rounded btn-lg mt-1 mb-1"> Contribute to nearby projects! </button>
            </div>
        </div>
    </body>
</article>
{% endblock %}