{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Image Capture{% endblock %}</h1>
{% endblock %}

{% block content %}
<!--
    <video style="position: absolute; top: 50; left: 50;" id="vid" autoplay playsinline></video>
    <img style="opacity: 0.4; position: absolute; top: 50; left: 50;" id="overlay" src="/static/{{ post['imgFile'] }}" alt="Cover Image" width="200" height="200">
    <input type="hidden" id="IDPath" name="IDPath" value="{{ url_for('blog.imageCapture', id=post['id']) }}">
-->
  <ul style="position:relative;">
    <li style="position:absolute; top:0; left:0;"><video style="position: relative; left: 50%; transform: translateX(-50%);" id="vid" autoplay playsinline></video></li>
    <li style="position:absolute; top:0; left:0;"><img style="opacity: 0.4; position: relative; left: 50%; transform: translateX(-50%);" id="overlay" src="/static/{{ post['imgFile'] }}" alt="Cover Image" width="{{ post['wd'] }}" height="{{ post['ht'] }}"></li>
  </ul>

  <input type="hidden" id="IDPath" name="IDPath" value="{{ url_for('blog.imageCapture', id=post['id']) }}">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div id="take"><button id="takePic">Take Picture</button></div>
    <div id="uploadPic">
      <input type="text" placeholder="Picture Title" id="picName">
      <button id="upload">Upload Picture</button>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-3.5.1.min.js') }}"></script>
    <script>
      //Temporarily hide upload button
      document.getElementById("uploadPic").style.display = "none";

      //Access media devices and capture image
      navigator.mediaDevices.getUserMedia({
        video: true
      })
      .then(function(stream){
        //Set dimensions
        vid.onloadedmetadata = function() {
          //this.width = overlay.width = this.videoWidth;
          //this.height = overlay.height = this.videoHeight;
          this.width = this.videoWidth;
          this.height = this.videoHeight;
        }
        window.stream = stream;
        vid.srcObject = stream;

        document.getElementById("takePic").onclick = function() {
          //show upload button and hide take button
          document.getElementById("uploadPic").style.display = "block";
          document.getElementById("take").style.display = "none";

          //Create canvas and take picture
          var c = document.createElement('canvas');
          c.width = vid.videoWidth;
          c.height = vid.videoHeight;
          c.getContext('2d').drawImage(vid, 0, 0);
          c.toBlob(capturedImage, 'image/png');
        };
      })
      .catch(function(err){
        // Handle the error
        console.error(err);
      });

      function capturedImage(blob){
        // creates DOMString containing a URL representing the object
        var url = URL.createObjectURL(blob);

        //Change overlay image
        overlay.src = url;
        overlay.style = "opacity: 1; position: absolute; top: 50; left: 50;";
        overlay.width = vid.videoWidth;
        overlay.height = vid.videoHeight;

        //Save dimensions of video
        var width = vid.videoWidth;
        var height = vid.videoHeight;

        //Listener for uploading file
        document.getElementById("upload").onclick = function() {
          var fdata = new FormData();
          fdata.append('file', blob, document.getElementById('picName').value.concat('.png'));
          fdata.append('width', width);
          fdata.append('height', height);

          $.ajax({
            type: "POST",
            enctype: 'multipart/form-data',
            url: document.getElementById("IDPath").value,
            data: fdata,
            processData: false,
            contentType: false,
            cache: false,
            success: function(){
              window.location.href = "https://chliu.pythonanywhere.com/";
            }
          });
        };

        //Remove video stream
        URL.revokeObjectURL(vid.src);
        vid.parentNode.removeChild(vid);
      }
    </script>


{% endblock %}