{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Image Capture{% endblock %}</h1>
{% endblock %}

{% block content %}
    <!--<video style="position: absolute; top: 50; left: 50;" id="vid" controls autoplay></video>-->
    <video style="position: absolute; top: 50; left: 50;" id="vid" controls autoplay></video>
    <img style="opacity: 0.4; position: absolute; top: 50; left: 50;" id="overlay" src="/static/{{ post['imgFile'] }}" alt="Cover Image" width="200" height="200">

    <button id="takePic">Take Picture</button>

    <script type="text/javascript">
      navigator.mediaDevices.getUserMedia({
        video: true
      })
      .then(function(stream){
        //Stream stuff
        vid.onloadedmetadata = function() {
          this.width = overlay.width = this.videoWidth;
          this.height = overlay.height = this.videoHeight;
        }
        vid.srcObject = stream;
        vid.play();
        document.getElementById('takePic').onclick = function() {
          var c = document.createElement('canvas');
          c.width = vid.videoWidth;
          c.height = vid.videoHeight;
          c.getContext('2d').drawImage(vid, 0, 0);
          c.toBlob(capturedImage);
        };
      })
      .catch(function(err){
        // Handle the error
        console.error(err);
      });

      function capturedImage(blob){
        // creates DOMString containing a URL representing the object
        var url = URL.createObjectURL(blob);
        
        //Acquire new HTML image instance
        var img = new Image();

        //onload image, clear object url and set img src
        img.onload = function() {
          URL.revokeObjectURL(url);
        };
        img.src = url;

        // Remove vid object and replace overlay with img
        URL.revokeObjectURL(vid.src);
        overlay.parentNode.appendChild(img);
        vid.parentNode.removeChild(vid);
        overlay.parentNode.removeChild(overlay);
      }
    </script>


{% endblock %}