{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Image Capture{% endblock %}</h1>
{% endblock %}

{% block content %}

    <video style="position: absolute; top: 50; left: 50;" id="vid" controls autoplay></video>
    <img style="opacity: 0.4; position: absolute; top: 50; left: 50;" id="overlay" src="/static/{{ post['imgFile'] }}" alt="Cover Image" width="200" height="200">
    <input type="hidden" id="IDPath" name="IDPath" value="{{ url_for('blog.imageCapture', id=post['id']) }}">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <div id="take"><button id="takePic">Take Picture</button></div>
    <div id="uploadPic">
      <input type="text" placeholder="Picture Title" id="picName">
      <button id="upload">Upload Picture</button>
    </div>

    <script type="text/javascript">
      //Temporarily hide upload button
      document.getElementById("uploadPic").style.display = "none";

      //Access media devices and capture image
      navigator.mediaDevices.getUserMedia({
        video: true
      })
      .then(function(stream){
        //Set dimensions
        vid.onloadedmetadata = function() {
          this.width = overlay.width = this.videoWidth;
          this.height = overlay.height = this.videoHeight;
        }
        vid.srcObject = stream;
        vid.play();

        document.getElementById("takePic").onclick = function() {
          //show upload button and hide take button
          document.getElementById("uploadPic").style.display = "block";
          document.getElementById("take").style.display = "none";

          //Create canvas and take picture
          var c = document.createElement('canvas');
          c.width = vid.videoWidth;
          c.height = vid.videoHeight;
          c.getContext('2d').drawImage(vid, 0, 0);
          c.toBlob(capturedImage);
        };
      })
      .catch(function(err){
        // Handle the error
        console.error(err);
      });

      function capturedImage(blob){
        // creates DOMString containing a URL representing the object
        var url = URL.createObjectURL(blob);

        //Change overlay image
        overlay.src = url;
        overlay.style = "opacity: 1; position: absolute; top: 50; left: 50;";

        //Remove video stream
        URL.revokeObjectURL(vid.src);
        vid.parentNode.removeChild(vid);

        //Listener for uploading file
        document.getElementById("upload").onclick = function() {
          var fdata = new FormData();
          fdata.append("file", blob, document.getElementById("picName").value.concat(".png"));
          //document.getElementById("picName").value = document.getElementById("picName").value.concat(".png");
          
          var xhr = new XMLHttpRequest();
          xhr.open("POST", document.getElementById("IDPath").value, false);
          xhr.setRequestHeader("Content-type", "multipart/form-data");
          xhr.send(fdata);
        };
      }
    </script>


{% endblock %}