{% extends 'base.html' %}

{% block header %}
  <style>
    .mySlides {display:none;}
  </style>

  <h1>{% block title %}Collections{% endblock %}</h1>
{% endblock %}

{% set pic = 'imgs/slideImg.jpg' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
  {% for post in posts %}
    <article class="post">
      <header>
        <div class="post-preview">
          <h2 class="post-title">{{ post['title'] }}</h2>

          {% if g.user['id'] == post['author_id'] %}
            <p class="post-meta" style="display:inline;">
                Posted by <a href="#">{{ post['username'] }}</a> on {{ post['created'].strftime('%Y-%m-%d') }}
            </p>
            <a class="post-meta" style="display:inline; float:right;" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
          {% else %}
            <p class="post-meta">Posted by <a href="#">{{ post['username'] }}</a> on {{ post['created'].strftime('%Y-%m-%d') }}</p>
          {% endif %}
        </div>
      </header>
      <!--<p class="body">{{ post['body'] }}</p>-->
      <body>
        <!--<img src="/static/myImgs/{{ post['imgFile'] }}" alt="User Image" width="{{ post['wd'] }}" height="{{ post['ht'] }}">-->

        <div>
          {% for img in imgs %}
            {% if post['id'] == img['userID'] %}
              <img class="{{ post['id'] }}" style="display:none;" src="/static/myImgs/{{ img['image'] }}" alt="User Image" width="{{ img['width'] }}" height="{{ img['height'] }}">
            {% endif %}
          {% endfor %}
          <button id="F{{ post['id'] }}">&#10094;</button>
          <button id="B{{ post['id'] }}">&#10095;</button>
        </div>

        <script type="text/javascript">
          var slideIndex = 1;
          showDivs(slideIndex, "{{ post['id'] }}");

          document.getElementById("F{{ post['id'] }}").onclick = function () {
            showDivs((slideIndex += -1), "{{ post['id'] }}");
          }

          document.getElementById("B{{ post['id'] }}").onclick = function () {
            showDivs((slideIndex += 1), "{{ post['id'] }}");
          }

          function showDivs(n, str) {
            var i;
            var x = document.getElementsByClassName(str);
            if (n > x.length) {slideIndex = 1}
            if (n < 1) {slideIndex = x.length}
            for (i=0; i < x.length; i++){
              x[i].style.display = "none";
            }
            x[slideIndex-1].style.display = "block";
          }
        </script>
      </body>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}