  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Import CSS-->
    <link rel="stylesheet" href="../static/mystyle.css">

    <!-- Font -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

    <title> rePhoto </title>
  </head>

    {% block content %}
    <article>
        <body style="background-color:black;">

            <div class="main-wrapper">

                <!-- rePhoto -->
                <!-- what is rePhoto -->
                <div class="container-fluid mx-auto">
                <div class="container-stack container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <div class="container-box bg-black text-center">
                        <img class="img-fluid" src="../../static/imgs/logo.svg" alt="rePhoto" width=15% height=15%>
                      </div>
                    </div>
                  </div>
                </div>
                </div>

                <!-- what is rePhoto -->
                <div class="container-fluid mx-auto">
                <div class="container-stack container-fluid">
                  <div class="row">
                    <div class="col"></div>
                    <div class="col-10">
                      <div class="container-box rounded">
                        <p class="h1 text-white"> What is rePhoto? </p>
                        <p class="text-white"> rePhoto allows you to take pictures that aligns exactly with a previous photo.</p>
                        <p class="text-white"> rePhoto makes repeat photography easier, so you (or a group!) can align and take many pictures of a place or an object. These pictures are a visual record of change -- pictures of trees or streams or beaches over time are useful to measure the effects of erosion and climate change; pictures of home improvement projects (or even yourself) can serve as a visual timeline of events.</p>
                      </div>
                    </div>
                    <div class="col"></div>
                  </div>
                </div>
                </div>

                <!-- what is the purpose -->
                <div class="container-fluid mx-auto">
                <div class="container-stack container-fluid">
                  <div class="row">
                    <div class="col"></div>
                    <div class="col-10">
                      <div class="container-box rounded">
                        <p class="h1 text-white"> What is the purpose of rePhoto? </p>
                        <p class="text-white"> The core utility of Project rePhoto stems from its identity as a citizen science project which allows for a comprehensive visual timeline of change for each project’s subject, granting researchers more time to spend on analytical work while citizens not directly involved with the research can provide samples as they come across a project’s subject.</p>
                      </div>
                    </div>
                    <div class="col"></div>
                  </div>
                </div>
                </div>

                <!-- what is the purpose -->
                <div class="container-fluid mx-auto">
                <div class="container-stack container-fluid">
                <div class="row">
                <div class="col"></div>
                <div class="col-10">
                  <div class="container-box rounded">
                    <p class="h1 text-white"> Solution idea </p>
                    <img class="img-fluid" src="../static/imgs/rePhoto.png" alt="rePhoto">
                    <p class="text-white"> </p>
                    <p class="text-white"> Contributors uses the web application to take repeat images of the subject. User line up their camera with a half see-through overlay of the previous image. These picture provide visual timeline of changes. Anyone with access to the website should be able to contribute to the project. </p>
                  </div>
                </div>
                <div class="col"></div>
                </div>
                </div>
                </div>

                <!-- Footer -->
                <footer class="bg-dark bg-black text-center text-white pb-5">
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                      2021, Project rePhoto
                    </div>
                </footer>

            </div>
            <!-- Optional JavaScript -->
            <!-- Popper.js, then Bootstrap JS -->
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        </body>
    </article>
    {% endblock %}