<!-- Bootstrap for progress bar -->
{% extends 'head.html' %}

{% block header %}
    <h2>{% block title %} Profile {% endblock %}</h2>
{% endblock %}

{% block content %}
<article>
    <body style="background-color:black;">

        <!-- Profile -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card text-white bg-gray mb-4">
                        <div class="card-body">
                            {% if g.user %}
                                <a class="btn btn-success btn-lg d-grid gap-2" href="{{ url_for('blog.capture', id=1) }}" > Start A New Project </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Profile -->
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card text-white bg-gray mb-4">
                        <div class="card-header">
                            <p class="h3 text-white"> Profile </p>
                        </div>
                        <div class="card-body">
                            <p class="text-white"> Username: {{ g.user[1] }} </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Contributions -->
        <div class="container d-none">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card text-white bg-gray mb-4">
                        <div class="card-header">
                            <p class="h3 text-white"> Contributions </p>
                        </div>
                        <div class="card-body">

                            <div class="progress" style="height: 30px; max-width: 1000px; margin-left:auto; margin-right:auto;">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" style="width: {{ beg }}%" aria-valuenow="{{ beg }}" aria-valuemin="0" aria-valuemax="100">Beginner</div>
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: {{ mid }}%" aria-valuenow="{{ mid }}" aria-valuemin="0" aria-valuemax="100">Intermediate</div>
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ adv }}%" aria-valuenow="{{ adv }}" aria-valuemin="0" aria-valuemax="100">Advanced</div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">

                    <div class="card text-white bg-gray mb-4">
                        <div class="card-header">
                            <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
                                <p class="h3 text-white"> Recent Projects </p>
                                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                                    <a class="post-meta btn btn-primary" href="{{ url_for('blog.projects', count=0, searchTerm=g.user[1]) }}">View All Projects</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                {% for post in posts %}
                                    <div class="col">
                                        <div class="card text-white bg-gray mb-2 h-100" style="display: flex">
                                            <img class="img-fluid card-img-top" src="/static/myImgs/{{ post[0] }}/{{ post[6] }}" alt="Cover Image">
                                            <div class="card-body">
                                                <h5 class="card-title">{{ post[1] }}</h5>
                                                <p class="card-text">{{ post[2] }}</p>
                                            </div>
                                            <div class="card-footer">
                                                <a class="post-meta btn btn-outline-primary d-grid gap-2" href="{{ url_for('blog.detail', id=post[0]) }}">View Projects</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>

</article>
{% endblock %}