{% extends 'head.html' %}

{% block header %}
  <h2>{% block title %} rePhoto {% endblock %}</h2>
{% endblock %}

{% block content %}
<article>
    <body style="background-color:black;">

        <!-- what is rePhoto -->
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="container-box rounded">
                <p class="h1 text-white"> {{ g.user[1] }} </p>

              </div>
            </div>
          </div>
        </div>


        <!-- Footer -->
        <footer class="bg-dark bg-black text-center text-white pb-5">
            <div class="text-center p-3">
              2022, Project rePhoto
            </div>
        </footer>

    </body>

</article>
{% endblock %}