{% extends 'head.html' %}

{% block header %}
  <h2>{% block title %}Projects Nearby{% endblock %}</h2>
{% endblock %}

{% set background = '../static/imgs/slideImg.jpg' %}

{% block content %}

 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
 <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
 <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
 <div id="map" style="height: 1000px;"></div>

 <script type="text/javascript">
    var geoposition = null;

    var geolocation = (function(){
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function success (callback, position) {
            console.log('DEVICE POSITION');
            console.log('LAT: ' + position.coords.latitude + ' - LON: ' + position.coords.longitude);
            geoposition = position;
            callback();
        }

        function error (callback, error) {
            console.log(error);
            callback();
        }

        function getLocation (callback) {
            navigator.geolocation.getCurrentPosition(
                success.bind(this, callback), //prepends callback as an argument in front of position object
                error.bind(this, callback), //prepends callback as an argument in front of error object
                options
            );
        }

        return {
            location: getLocation
        }
    }());

    var map;
    var latitude = 38.889248;
    var longitude = -77.050636;

    geolocation.location(function() {
       console.log('Geolocation complete.');

       // check if geolocation successful
       if(geoposition != null){
           latitude = geoposition.coords.latitude;
           longitude = geoposition.coords.longitude;
       }

       setMap(latitude, longitude);
    });

    function setMap (latitude, longitude) {
        // The first parameter are the coordinates of the center of the map
       // The second parameter is the zoom level
       map = L.map('map').setView([latitude, longitude], 18);

       map.addControl(new L.Control.Fullscreen());
       // {s}, {z}, {x} and {y} are placeholders for map tiles
       // {x} and {y} are the x/y of where you are on the map
       // {z} is the zoom level
       // {s} is the subdomain of cartodb

       L.tileLayer('https://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="https://cartodb.com/attributions">CartoDB</a>',
        maxNativeZoom:19,
        maxZoom:25
       }).addTo(map);

       // feature group for manipulating markers
       var myFeatureGroup = L.featureGroup().addTo(map).on("click", openMarker);
       var m, content;

       //Custom icon marking current position
       var myIcon = L.icon({
          iconUrl: 'https://raw.githubusercontent.com/iconic/open-iconic/master/png/map-marker-8x.png',
          shadowUrl: 'https://maps.gstatic.com/mapfiles/shadow50.png',
          iconSize: [32, 37],
          iconAnchor: [16, 37], // point of the icon which will correspond to marker's location
          shadowAnchor: [8, 37],  // the same for the shadow
          popupAnchor: [0, -28]
       });

       // It even opens up a popup when you click it!
       var myLocation = L.marker([latitude, longitude], {icon: myIcon}).addTo(map)
       .bindPopup("<strong>My Current Location</strong>", {maxWidth: "auto"});

       {% for post in posts %}
            var lat = parseFloat(JSON.stringify({{post[4]|tojson}}));
            var lon = parseFloat(JSON.stringify({{post[5]|tojson}}));
            content = JSON.stringify({{post[3]|tojson}});
            m = L.marker([lat, lon]).addTo(myFeatureGroup).bindPopup(content, {maxWidth: "auto"});
            //m.content = content;
            // L.marker([parseFloat(JSON.stringify({{post[4]|tojson}})), parseFloat(JSON.stringify({{post[5]|tojson}}))]).addTo(map).bindPopup(JSON.stringify({{post[3]|tojson}}), {maxWidth: "auto"});
       {% endfor %}

       function openMarker(event){
           console.log('MARKER CLICKED!');
       }

       // It even opens up a popup when you click it!
       myLocation.openPopup();

       map.setView([latitude, longitude], 18);
    }
 </script>
{% endblock %}