{% extends 'head.html' %}

{% block header %}
  <h2>{% block title %}Edit "{{ post[1] }}"{% endblock %}</h2>
{% endblock %}

{% block content %}
<article class="post" style="width: 1100px;margin-left:auto;margin-right:auto;">
      <form method="post" enctype=multipart/form-data>
        <label for="title">Title</label>
        <br/>
        <input class="form-control" name="title" id="title" value="{{ request.form['title'] or post[1] }}" required>
        <br/>
        <label for="body">Body</label>
        <br/>
        <textarea class="form-control" style="height: 200px;" name="body" id="body">{{ request.form['body'] or post[2] }}</textarea>
        <hr>

        <h3>Cover Photo</h3>
        <div class="display-container">
          <img style="display:block; margin:0 auto; max-width:100%; max-height:100%;" src="/static/myImgs/{{ post[0] }}/{{ post[6] }}" alt="Cover Image" width="{{ post[7] }}" height="{{ post[8] }}">
        </div>

        <hr>
        <h3>Album</h3>
        <div class="display-container">
          {% for img in imgs %}
            <img class="center" id="curImg" style="display:none; max-width:100%; max-height:100%;" src="/static/myImgs/{{ post[0] }}/{{ img[0] }}" alt="{{ img[0] }}" width="{{ img[2] }}" height="{{ img[3] }}">
          {% endfor %}
          <button type="button" class="custom black display-left" onclick="plusDivs(-1)">&#10094;</button>
          <button type="button" class="custom black display-right" onclick="plusDivs(+1)">&#10095;</button>
        </div>

        <br/>
        <div style="text-align:center;">
        <input class="danger" type="submit" form="deleteThis" value="Delete Picture" onclick="return confirm('Are you sure?');">
        </div>

        <hr>
        <h3>Change Cover Photo</h3>
        <input type=file name=file>
        <input type="hidden" name="width" id="width" value="{{ post[7] }}">
        <input type="hidden" name="height" id="height" value="{{ post[8] }}">
        <input style="float: right;" type="submit" value="Save">
      </form>

      <form id="deleteThis" action="{{ url_for('blog.deletePic', id=post[0]) }}" method="post">
        <input type="hidden" name="picName" id="picName" value="">
      </form>

      <hr>
        <a class="action" href="{{ url_for('blog.capture', id=post[0]) }}">Image Capture</a>
      <hr>

      <form style="display: inline;" action="{{ url_for('blog.setMap', id=post[0]) }}" method="post">
        <input type="submit" value="View Map">
      </form>

      <form style="display: inline; float: right;" action="{{ url_for('blog.delete', id=post[0]) }}" method="post">
        <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
      </form>

    <script type="text/javascript">
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs(slideIndex += n);
      }

      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("center");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i=0; i < x.length; i++){
          x[i].style.display = "none";
        }
        x[slideIndex-1].style.display = "block";
        document.getElementById("picName").value = x[slideIndex-1].alt;
      }
    </script>
</article>
{% endblock %}