/* carousel image allignment */
.carousel-item{
    width: 100%; /*width you want*/
    height: 100vh; /*height you want*/
    overflow: hidden;
}

.carousel-item img{
    width: 100vh;
    height: 100vh;
    object-fit: cover;
    height: auto;
    margin: auto;
}

/* change navbar color */
.bg-black {
    background-color: black !important;
}

/* set viewpoints */
.main-wrapper {
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif !important;
}

.map-wrapper {
    height: 100vh;
}

/* container box stacking */
.container-stack{
    padding: 10px;
    background-color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    opacity: .8;
}

.container-box{
    width: 100%;
    padding: 30px;
    background-color: #23272B;
    margin: 20px 5px;
    overflow-wrap: break-word;
    color: white;
    display: inline-block;
}