{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% set pic = 'imgs/slideImg.jpg' %}

{% block content %}
<article>
 <div class="container">
  <div class="row">
   <div class="col-lg-8 col-md-10 mx-auto">
      <form method="post">
        <label for="username">Username</label>
        <br/>
        <input class="form-control" name="username" id="username" required>
        <br/>
        <label for="password">Password</label>
        <br/>
        <input class="form-control" type="password" name="password" id="password" required>
        <br/>
        <input type="submit" value="Log In">
      </form>
    </div>
   </div>
 </div>
</article>
{% endblock %}