{% extends 'head.html' %}

{% block header %}
  <h2>{% block title %}Sign-In{% endblock %}</h2>
{% endblock %}

{% set background = '../static/imgs/slideImg.jpg' %}

{% block content %}
<article>
    <div class="container mt-2 pt-2">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10 col-10">
                <form id="logOrReg" method="post">
                <label for="username">Username</label>
                <br/>
                <input class="form-control" name="username" id="username" required>
                <br/>
                <label for="password">Password</label>
                <br/>
                <input class="form-control" type="password" name="password" id="password" required>
                <br/>

                <div class="text-center text-lg-start pt-2">
                    <input type="hidden" name="bit" id="bit" value="">
                    <button class="btn bg-black text-white btn-lg btn-block" type="submit" onclick="login()" value="Login"> Login </button>
                    <p class="mt-2 pt-1 mb-0">Click here to <a class="text-danger pt-2" type="submit" onclick="register()" value="Register">register</a> </p>
                </div>
                </form>
            </div>
        </div>

        <script>
            function login() {
                document.getElementById("bit").value = "log";
                document.getElementById("logOrReg").submit();
            }
            function register() {
                document.getElementById("bit").value = "reg";
                document.getElementById("logOrReg").submit();
            }
        </script>
    </div>
</article>
{% endblock %}