{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Sign-In{% endblock %}</h2>
{% endblock %}

{% set background = '../static/imgs/slideImg.jpg' %}

{% block content %}
<article>
 <div class="container">
  <div class="row">
   <div class="col-lg-8 col-md-10 mx-auto">
      <form id="logOrReg" method="post">
        <label for="username">Username</label>
        <br/>
        <input class="form-control" name="username" id="username" required>
        <br/>
        <label for="password">Password</label>
        <br/>
        <input class="form-control" type="password" name="password" id="password" required>
        <br/>
        <input type="hidden" name="bit" id="bit" value="">
        <input type="submit" onclick="register()" value="Register">
        <input type="submit" onclick="login()" value="Login">
      </form>

      <script>
          function login() {
            document.getElementById("bit").value = "log";
            document.getElementById("logOrReg").submit();
          }
          function register() {
            document.getElementById("bit").value = "reg";
            document.getElementById("logOrReg").submit();
          }
      </script>
    </div>
   </div>
 </div>
</article>
{% endblock %}